/*
    Convert this code to more efficient SCSS pattern
    Things to use: Nesting, variables and parent selector
*/

$red: #a00;
$maroon: #440000;
.book {
    .book-title, .book-body{
        color: red;
        margin-bottom: 10px;
    
}

.btn {
        background: red;
        color: #fff;
        & hover {
            background: maroon;
        }
    }
}