
.item{
    border:1px solid black;
    color:rgb(43, 43, 43);
    background:#e7e7e7;
    display:inline-block;
    padding:25px;
}
@media (max-width: 575px) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 576px and max-width 767px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

